# Jacob Sheehan
## Week3 09/03/2024
### Python Built in Data Structures - Python Lists [ ]

## List Notes
- Lists are used to store multiple items in a single variable
- Lists are created using square brackets or list() constructor
- Lists itmes are indexed, the first item has index [0]
- lists are ordered
- The list is changeable ; add, delete, and update items

In [1]:
my_lst = [50,30,20.5, 100, 90, 10, 30,50]

In [2]:
my_list

NameError: name 'my_list' is not defined

In [ ]:
my_lst

In [ ]:
type(my_lst)

In [ ]:
my_lst[0]

In [ ]:
my_lst[-1]

In [ ]:
my_lst[-2]

In [ ]:
len(my_lst)

In [ ]:
my_lst = [50, 89, 90, 'John', 'Bob', 'Sherry', True, False, 5.5, 20.5]

In [ ]:
my_lst[5]

In [ ]:
len(my_lst)

In [ ]:
fruits = ['Apple', 'Banana', 'Cherry', 'Kiwi']

In [ ]:
fruits[0]

In [ ]:
fruits[1]

In [ ]:
fruits[2]

In [ ]:
my_lst

In [ ]:
fruits

In [ ]:
#slicing
#[Start:End:Step]
my_lst[1:5]

In [ ]:
my_lst[:]

In [ ]:
fruits[-4:]

In [ ]:
fruits[-3:-1]

In [ ]:
fruits[-3:-2]

In [ ]:
fruits[::-1]

In [ ]:
fruits

In [ ]:
my_lst[2:7]

In [ ]:
my_lst[2:7:2]

In [ ]:
# add a new element
fruits

In [ ]:
fruits + ['Orange']

In [ ]:
fruits

In [ ]:
fruits = fruits + ['Orange']

In [ ]:
fruits

In [ ]:
# update item in the list
fruits[1] = 'Mango'

In [ ]:
fruits

In [ ]:
fruits[-1] = 12

In [ ]:
fruits

In [ ]:
# delete an item from a list
del fruits[-1]

In [ ]:
fruits

In [ ]:
fruits

In [ ]:
fruits = ['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [ ]:
fruits

In [ ]:
# double the list
fruits * 2

In [ ]:
# Use the built in Function
fruits.append('Banana')

In [ ]:
fruits

In [ ]:
fruits.append(13)

In [ ]:
fruits

In [ ]:
lst = [12,10,14,15,16]

In [ ]:
fruits.extend(lst)

In [ ]:
fruits

In [ ]:
len(fruits)

In [ ]:
fruits.append([1,2,3])

In [ ]:
fruits

In [ ]:
fruits[-1]

In [ ]:
fruits.pop()

In [ ]:
fruits

In [ ]:
fruits.pop(1)

In [ ]:
fruits

In [ ]:
fruits.remove('Kiwi')

In [ ]:
fruits

In [ ]:
fruits

In [ ]:
char_lst = ['t','a','m','b','m','n']

In [ ]:
char_lst.sort()

In [ ]:
char_lst

In [ ]:
fruits

In [ ]:
fruits[::-1]

In [ ]:
fruits

In [ ]:
fruits.reverse()

In [ ]:
# IN PlACE means that it will change the list

In [ ]:
fruits

In [3]:
# inset()
fruits.insert(2,'Mango')

NameError: name 'fruits' is not defined

In [4]:
fruits

NameError: name 'fruits' is not defined

In [5]:
fruits = ['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [6]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [7]:
fruits.insert(3,'Mango')

In [8]:
fruits

['Apple', 'Mango', 'Cherry', 'Mango', 'Kiwi', 'Orange']

In [9]:
fruits.remove('Kiwi')

In [10]:
fruits

['Apple', 'Mango', 'Cherry', 'Mango', 'Orange']

In [11]:
# in
fruits

['Apple', 'Mango', 'Cherry', 'Mango', 'Orange']

In [12]:
'Mango' in fruits

True

In [13]:
'Limon' in fruits

False

In [14]:
# concatenating, + 
[4,None,'foo'] + [2,8,'Red', 10.95]

[4, None, 'foo', 2, 8, 'Red', 10.95]

In [15]:
new_lst = [4,None,'foo'] + [2,8,'Red', 10.95]

In [16]:
new_lst

[4, None, 'foo', 2, 8, 'Red', 10.95]

In [17]:
new_lst.extend([1,2,3,4,5])

In [18]:
new_lst

[4, None, 'foo', 2, 8, 'Red', 10.95, 1, 2, 3, 4, 5]

In [19]:
new_lst * 2

[4,
 None,
 'foo',
 2,
 8,
 'Red',
 10.95,
 1,
 2,
 3,
 4,
 5,
 4,
 None,
 'foo',
 2,
 8,
 'Red',
 10.95,
 1,
 2,
 3,
 4,
 5]

In [20]:
fruits

['Apple', 'Mango', 'Cherry', 'Mango', 'Orange']

In [21]:
fruits.sort()

In [22]:
fruits

['Apple', 'Cherry', 'Mango', 'Mango', 'Orange']

In [23]:
fruits.sort(key=len)

In [24]:
fruits

['Apple', 'Mango', 'Mango', 'Cherry', 'Orange']

In [25]:
len('Hello')

5

In [26]:
len(fruits)

5

In [28]:
# range() function, range(start, stop[,step])
range(10)

range(0, 10)

In [29]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
lst = list(range(10,21))
lst

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [32]:
lst = list(range(10,41,1))
lst

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [33]:
lst = list(range(10,41,2))
lst

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [34]:
lst[-1]

40

In [35]:
lst[1:5]

[12, 14, 16, 18]

In [39]:
# Nested list and Access to Nested List
lst1 = list(range(10,31,10))
lst2 = list(range(30,61,10))
lst3 = list(range(60,91,10))

In [37]:
lst1

[10, 20, 30]

In [40]:
lst2

[30, 40, 50, 60]

In [41]:
lst3

[60, 70, 80, 90]

In [42]:
nested_list = [lst1,lst2,lst3]

In [43]:
nested_list

[[10, 20, 30], [30, 40, 50, 60], [60, 70, 80, 90]]

In [44]:
len(nested_list)

3

In [45]:
nested_list[0]

[10, 20, 30]

In [46]:
nested_list[-1]

[60, 70, 80, 90]

In [47]:
nested_list

[[10, 20, 30], [30, 40, 50, 60], [60, 70, 80, 90]]

In [48]:
nest_list[0][1]

NameError: name 'nest_list' is not defined

In [49]:
nested_list[0][1]

20

In [50]:
nested_list[2][-1]

90

In [51]:
nested_list[1][2,3]

TypeError: list indices must be integers or slices, not tuple

In [52]:
nested_list[1][2:4]

[50, 60]

In [53]:
lst =['a','b', ['aa','bb', ['ddd', 'eee']], 'f', 'g', [20,30,40] ]
lst

['a', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [20, 30, 40]]

In [54]:
len(lst)

6

In [55]:
lst[1]

'b'

In [56]:
lst[2]

['aa', 'bb', ['ddd', 'eee']]

In [57]:
lst

['a', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [20, 30, 40]]

In [58]:
len(lst[2])

3

In [60]:
lst[2][2][-1]

'eee'

In [61]:
lst

['a', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [20, 30, 40]]

In [62]:
lst[-1]

[20, 30, 40]

In [63]:
lst.append(50)[-1]

TypeError: 'NoneType' object is not subscriptable

In [64]:
lst[-1].append(50)

AttributeError: 'int' object has no attribute 'append'

In [65]:
list[-1].append(50)

TypeError: 'type' object is not subscriptable

In [66]:
lst

['a', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [20, 30, 40], 50]

In [67]:
lst[2][-1].insert(0,'ccc')

In [68]:
lst

['a', 'b', ['aa', 'bb', ['ccc', 'ddd', 'eee']], 'f', 'g', [20, 30, 40], 50]

In [69]:
del lst[-1]

In [70]:
lst

['a', 'b', ['aa', 'bb', ['ccc', 'ddd', 'eee']], 'f', 'g', [20, 30, 40]]

In [71]:
lst[-1].remove(20)

In [72]:
lst

['a', 'b', ['aa', 'bb', ['ccc', 'ddd', 'eee']], 'f', 'g', [30, 40]]

In [73]:
lst[2].pop(0)

'aa'

In [74]:
# remove is name and pop is index

In [75]:
lst

['a', 'b', ['bb', ['ccc', 'ddd', 'eee']], 'f', 'g', [30, 40]]

In [76]:
lst[-1].append(['Red', 'Blue', 'Green'])

In [77]:
lst

['a',
 'b',
 ['bb', ['ccc', 'ddd', 'eee']],
 'f',
 'g',
 [30, 40, ['Red', 'Blue', 'Green']]]

In [78]:
lst[-1]

[30, 40, ['Red', 'Blue', 'Green']]

In [79]:
lst[-1][-1]

['Red', 'Blue', 'Green']

In [80]:
lst

['a',
 'b',
 ['bb', ['ccc', 'ddd', 'eee']],
 'f',
 'g',
 [30, 40, ['Red', 'Blue', 'Green']]]

In [83]:
lst.append(list(range(10,41,5)))

In [85]:
lst

['a',
 'b',
 ['bb', ['ccc', 'ddd', 'eee']],
 'f',
 'g',
 [30, 40, ['Red', 'Blue', 'Green']],
 [10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40],
 [10, 15, 20, 25, 30, 35, 40]]

In [87]:
lst[-2].remove()

TypeError: remove() takes exactly one argument (0 given)

In [88]:
lst

['a',
 'b',
 ['bb', ['ccc', 'ddd', 'eee']],
 'f',
 'g',
 [30, 40, ['Red', 'Blue', 'Green']],
 [10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40],
 [10, 15, 20, 25, 30, 35, 40]]

In [89]:
# zip "pairs" up the elements of a number of list in tuples
lst1 = ['Apple', 'Mango', 'Cherry', 'Mango', 'Orange']
lst2 = [10.5,11.8,12,14]

In [90]:
lst1

['Apple', 'Mango', 'Cherry', 'Mango', 'Orange']

In [91]:
lst2

[10.5, 11.8, 12, 14]

In [92]:
zipped_list = zip(lst1,lst2)

In [93]:
list(zipped_list)

[('Apple', 10.5), ('Mango', 11.8), ('Cherry', 12), ('Mango', 14)]

In [96]:
lst = list(zipped_list)
lst

[]