# Jacob Sheehan
## wk7 10/01/2024
### Python List Comprehension

In [5]:
'''
## Python list comprehensions make it easy to create lists while performing 
sophisticated filtering, mapping, and conditional logic on ther members.

new_list = [expression for member in iterable]

'''
lst = []
for letter in 'I am a student in CIS310':
    if not letter.isspace():
        lst.append(letter)
    
lst

['I',
 'a',
 'm',
 'a',
 's',
 't',
 'u',
 'd',
 'e',
 'n',
 't',
 'i',
 'n',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0']

In [4]:
lst = [letter for letter in 'I am a student in CIS310']
lst

['I',
 ' ',
 'a',
 'm',
 ' ',
 'a',
 ' ',
 's',
 't',
 'u',
 'd',
 'e',
 'n',
 't',
 ' ',
 'i',
 'n',
 ' ',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0']

In [6]:
squares = []
for i in range(1,11):
    squares.append(i * i)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
squares = [n**2 for n in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
c_list = [4,10,20,25.5,15.8,0,14.9]
f_list = [((9/5) * t + 32) for t in c_list]
f_list

[39.2, 50.0, 68.0, 77.9, 60.44, 32.0, 58.82]

In [12]:
txns = [1.09,23.56, 57.84, 4.56, 6.78]
TAX_RATE = .68
final_prices = [round(t * (1 + TAX_RATE),2) for t in txns]
final_prices

[1.83, 39.58, 97.17, 7.66, 11.39]

In [15]:
# Filter the data using logical condition
# new_list = [expressions for member in iterable (if conditional)]
squares = [n**2 for n in range(1,11) if(n%2 == 0)] #if parthensis are removeable
squares

[4, 16, 36, 64, 100]

In [16]:
squares = [n**2 for n in range(1,11) if(n%2 != 0)]
squares

[1, 9, 25, 49, 81]

In [22]:
s = "CIS310 communicates students with Analytical thinking and practical techinal skills"
lst = [letter for letter in s if not letter.isspace()]
lst

['C',
 'I',
 'S',
 '3',
 '1',
 '0',
 'c',
 'o',
 'm',
 'm',
 'u',
 'n',
 'i',
 'c',
 'a',
 't',
 'e',
 's',
 's',
 't',
 'u',
 'd',
 'e',
 'n',
 't',
 's',
 'w',
 'i',
 't',
 'h',
 'A',
 'n',
 'a',
 'l',
 'y',
 't',
 'i',
 'c',
 'a',
 'l',
 't',
 'h',
 'i',
 'n',
 'k',
 'i',
 'n',
 'g',
 'a',
 'n',
 'd',
 'p',
 'r',
 'a',
 'c',
 't',
 'i',
 'c',
 'a',
 'l',
 't',
 'e',
 'c',
 'h',
 'i',
 'n',
 'a',
 'l',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [23]:
lst = [letter for letter in s if letter.lower() in 'aeiou']
lst

['I',
 'o',
 'u',
 'i',
 'a',
 'e',
 'u',
 'e',
 'i',
 'A',
 'a',
 'i',
 'a',
 'i',
 'i',
 'a',
 'a',
 'i',
 'a',
 'e',
 'i',
 'a',
 'i']

In [25]:
# new_list = [expression (if conditional) for member in iterable]
prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
new_prices = [n if n > 0 else 0 for n in prices]

new_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [27]:
lst = ['EVEN' if n % 2 == 0 else 'ODD' for n in range(1,11)]
lst

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN']

In [28]:
# Nested list comprehensions
lst = [num**2 for num in range(1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
lst2 = [num**2 for num in lst]
lst2

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [31]:
lst = [n**2 for n in [n**2 for n in range(1,11)]]
lst

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [32]:
lst = [n**2 for n in [n**2 for n in range(1,11) if n%2==0]]
lst

[16, 256, 1296, 4096, 10000]

In [34]:
# set
s = "data preparation consumes an amount of time (up to 80%)"
new_set = { letter for letter in s if letter in 'aeiou'}
new_set

{'a', 'e', 'i', 'o', 'u'}

In [37]:
t = (n**2 for n in range (1,11))
t

In [38]:
list(t)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
# Dictionary
d = {n:n**2 for n in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [42]:
d[6]

36

In [45]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
temps = {city:list(range(40,50)) for city in cities}
temps

{'Austin': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Tacoma': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Topeka': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Sacramento': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Charlotte': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]}

In [47]:
from random import randint
temps = {city:randint(40,100) for city in cities}
temps

{'Austin': 86, 'Tacoma': 88, 'Topeka': 77, 'Sacramento': 83, 'Charlotte': 55}

In [50]:
# using a dictionary and list to generate a new list
l = [1,2,1,2,3,4,5,6,2]
d = {1 : 'Yes', 2: 'No'}
lst = [d.get(n, 'Idle') for n in l]
lst

['Yes', 'No', 'Yes', 'No', 'Idle', 'Idle', 'Idle', 'Idle', 'No']

In [51]:
# multiple else statements, it does not take an elif
lst = ['Yes' if n == 1 else 'No' if n == 2 else 'Idle' for n in l]
lst

['Yes', 'No', 'Yes', 'No', 'Idle', 'Idle', 'Idle', 'Idle', 'No']

In [54]:
l = [5, 2, 1, 4, 5, 2, 1, 3]
status = ['Accept' if n > 4 else 'Reject' if n < 2 else 'Pending' for n in l]
status

['Accept',
 'Pending',
 'Reject',
 'Pending',
 'Accept',
 'Pending',
 'Reject',
 'Pending']