# Jacob Sheehan
## Week 7 10/01/2024 - 10/8/2024
### Python User Functions

**Python Function format**

<code> def funtion_name(args):
    '''
    docstring (Document String)- THis is where you describe a functions
    '''
    statment(s) <code/>

In [2]:
def burger king(x):
    x +=1
    return x
burgerking(2)

SyntaxError: invalid syntax (<ipython-input-2-194ff87a13fc>, line 1)

In [3]:
def fun_greet(name):
    print(f'Hello {name}, welcome to CIS310!')

In [4]:
print(fun_greet('Jacob'))

Hello Jacob, welcome to CIS310!
None

In [5]:
# THis function greets a person name passed as a parameter

In [8]:
def sum_of_two(n1,n2):
    print(f'The sum of {n1} and {n2} is {n1 + n2}')

In [9]:
sum_of_two(5,6)

The sum of 5 and 6 is 11

In [11]:
#Using return
def sum_of_two(n1,n2):
    return n1 + n2

In [12]:
sum_of_two(10,15)

25

In [14]:
x,y = 5,8
print(f'The sum of {x} and {y} is {sum_of_two(x,y)}')

The sum of 5 and 8 is 13

In [16]:
s = sum_of_two(x,y)
print(f'The sum of {x} and {y} is {s}')

The sum of 5 and 8 is 13

In [18]:
def avg_nums(num1, num2, num3):
    return (num1 + num2 + num3) / 3

In [19]:
avg_nums(5,6,7)

6.0

In [20]:
avg_nums(5)

TypeError: avg_nums() missing 2 required positional arguments: 'num2' and 'num3'

In [21]:
#min_two_odds(3,5) --> 3
#min_two_odds(4,9) --> 9
def min_odds(n1,n2):
    if n1 % 2 != 0 and n2 != 0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [22]:
min_odds(3,5)

3

In [24]:
#find a number is prime
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            return str(num) + ' is not a prime number'
    return str(num) + ' is a primte number'

In [25]:
is_prime(7)

'7 is a primte number'

In [27]:
#check if two words start with the same letter
# two_words_letter('Python Program') -> TRUE
# two_words_letter('Java Program') -> FALSE
s = 'Python Program'.split(' ')

In [29]:
def two_words_letters(word):
    wlst = word.split()
    return wlst[0][0] == wlst[1][0]

In [31]:
two_words_letters('Burger King')

False

In [32]:
two_words_letters('Java Juice')

True

In [35]:
# Check if a list has number 5 next to number 5 in the list
# [3,4,5,5,10] -> TRUE
# [3,4,5,6,5,8] -> FALSE
# use len to find range of list and do - 1 if you need index
def has_55(lst):
    for i in range(len(lst)-1):
        if lst[i:i+2] == [5,5]:
            return True
    else:
        return False

In [37]:
has_55([3,4,5,5,10])

True

In [38]:
has_55([3,4,5,6,5,8])

False

In [43]:
# check code 001 in a list
# [1,4,5,0,0,1,8] -> True
# [1,0,2,5,0,6,1,8] -> True
# [1,5,6,0,6,7,8,0] -> False

def has_code(lst):
    code = [0,0,1,'S']
    for num in lst:
        if num == code[0]:
            code.pop(0) # remove the number at index 0
    return len(code) == 1

In [44]:
has_code([1,4,5,0,0,1,8])

True

In [45]:
has_code([1,0,2,5,0,6,1,8])

True

In [46]:
has_code([1,5,6,0,6,7,8,0])

False

In [1]:
# Deafult Parameter Value
# print() deafult parameter for end is '\n'
def my_country(name = 'USA'):
    print(f'I am from {name}')

In [2]:
my_country

In [3]:
my_country()

I am from USA

In [4]:
my_country('India')

I am from India

In [5]:
my_country('Italy')

I am from Italy

In [6]:
# Number of arguments - *
# If the number of arguments is unknown, add a * before the parameter name
def sum_num(a,b):
    return sum((a,b))

In [8]:
sum_num(5,6)

11

sum_num(5,6,7)

In [9]:
sum_num(5,6,7)

TypeError: sum_num() takes 2 positional arguments but 3 were given

In [10]:
# Arbitrary number Arguments
def sum_nums(*n):
    return sum(n)

In [11]:
sum_nums(5,6)

11

In [12]:
sum_nums(3,5,8,9)

25

In [13]:
sum_nums(5)

5

In [14]:
sum_nums('Burger',"king")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
def full_name(fname,lname):
    print(f'{lname}, {fname} ')

In [16]:
full_name('James', 'Smith')

Smith, James

In [17]:
full_name('james')

TypeError: full_name() missing 1 required positional argument: 'lname'

In [21]:
def full_name(*name):            #Access tuple through index
    if len(name) == 2 :
        print(f'{name[1]}, {name[0]} ')
    elif len(name) == 1:
        print(f'{name[0]}')
    else:
        print(f'name = {name}')

In [22]:
full_name('Jacob', 'Sheehan')

Sheehan, Jacob

In [23]:
full_name('Jacob', 'Sheehan', 'Nick')

name = ('Jacob', 'Sheehan', 'Nick')

In [24]:
full_name('Jacob')

Jacob

In [25]:
#iterable is a tuple of list

In [26]:
sum(5,6,7)

TypeError: sum expected at most 2 arguments, got 3

In [27]:
sum([5,6,7])

18

In [29]:
# Keyword Arguments
# The order or position of the function parameteres
def my_kids(child1,child2,child3):
    print(f"My first child '{child1}', My second child '{child2}', My third child '{child3}' ")

In [30]:
my_kids("Emil", "Jon", "Alice")

My first child 'Emil', My second child 'Jon', My third child 'Alice'

In [31]:
my_kids(child3='Jon', child2='Emil', child1='Alice')

My first child 'Alice', My second child 'Emil', My third child 'Jon'

In [32]:
my_kids(child3='35', child2='Emil', child1='Alice')

My first child 'Alice', My second child 'Emil', My third child '35'

In [34]:
# Arbitrary Keywords Arguments, **kwargs
'''
If you do not know how many keyword arguments that will be passed into your function, 
add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments.
'''
def my_name(**names):
    print(f"MY last name is {names['lname']}")
    print(f"MY first name is {names['fname']}")
    print(f"Full name is {names['lname']}, {names['fname']}")

In [35]:
my_name(fname = 'James', lname = 'Smith')

MY last name is Smith
MY first name is James
Full name is Smith, James

In [37]:
my_name(fname = 'James')

KeyError: 'lname'

In [52]:
def my_name(**names):
    
    print(names)
    
    if 'lname' in names and not 'fname' in names:
        print(f"MY last name is {names['lname']}")
    elif 'fname' in names and not 'lname' in names:
        print(f"MY first name is {names['fname']}")
    elif 'lname' in names and 'fname' in names:
        print(f"Full name is {names['lname']}, {names['fname']}")
    else:
        print(f'no names are provided {names}')

In [53]:
my_name(fname = 'James')

{'fname': 'James'}
MY first name is James

In [54]:
my_name(lname = 'Smith')

{'lname': 'Smith'}
MY last name is Smith

In [55]:
my_name(fname = 'James', lname = 'Smith')

{'fname': 'James', 'lname': 'Smith'}
Full name is Smith, James

In [56]:
my_name()

{}
no names are provided {}

In [57]:
# Arbitrary Arguments and Keyword Arugments, *args and(tuple) **kwargs(dictionary)
# Python String join() Method
# Join all items in an iterable into a string, using a character as a separator
fruits = ['apple', 'banana', 'cherry', 'orange']
', '.join(fruits)

'apple, banana, cherry, orange'

In [64]:
def my_dinner(*food, **fruits):
    if 'fruit' in fruits and not 'juice' in fruits:
        print(f"I would like {', '.join(food)} and my favorite fruit is {fruits['fruit']}")
    elif 'juice' in fruits and not 'fruit' in fruits:
        print(f"I would like {', '.join(food)} and my favorite juice is {fruits['juice']}")
    elif 'fruit' in fruits and 'juice' in fruits:
        print(f"I would like {', '.join(food)} and my favorite fruit is {fruits['fruit']}")
        print(f"I also like to have some {fruits['juice']} juice after dinner")
    else:
        print("Thank you, I will just have a cup of coffee")

In [65]:
my_dinner('eggs', "milk", 'cheese', fruit='cherry', juice='orange')

I would like eggs, milk, cheese and my favorite fruit is cherry
I also like to have some orange juice after dinner

In [66]:
# scope of variables
num = 10
def update():
    num = 20
    print(f'Inside Function num = {num}')

print(f'Outside of the function num = {num}')

Outside of the function num = 10

In [68]:
update()
print(f'Outside of the function num = {num}')

Inside Function num = 20
Outside of the function num = 10