# Jacob Sheehan
## 09/19/2024
### Python If Else Statements

In [1]:
test1, test2, = 81,81

In [4]:
test1 = int(input('Test1 score:  '))
test2 = int(input('Test2 score:  '))

if test1 > test2:
    print(f'Test1 {test1} is greater than test2 {test2}')
    print(f'You may think to redo test2 {test2}')
elif test2 > test1:
    print(f'test2 {test2} is greater than test1 {test1}')
    print(f'You may think to redo test1 {test1}')
else:
    print(f'test1 {test1} and test2 {test2} scores are equal!')

Test1 score:  45
Test2 score:  67
test2 67 is greater than test1 45
You may think to redo test1 45

In [5]:
# One-Line if statements
if test2 > test1: print(f'test2 {test2} is greater than test1 {test1}')

test2 67 is greater than test1 45

In [8]:
if 'c' in 'cis': print('3', end=''); print('1', end=''); print('0', end='')

310

In [10]:
# short Hand if ... Else
print(f'test1 {test1}') if test1 > test2 else print(f'test2 {test2}')

test2 67

In [15]:
raining = True
print('Lets head out', 'for a run' if not raining else 'to the rec center')

Lets head out to the rec center

In [16]:
age = 12
print('minor' if age < 21 else 'adult')

minor

In [17]:
#and, or
s1, s2, s3 = 89, 75, 92
if (s1 > s2) and (s3 > s2):
    print('Both conditions are evaluated to True!')

Both conditions are evaluated to True!

In [21]:
#or logical operator
if (s1 > s2) or (s3 < s2):
    print('At least one of the conditions is rvaluated to True!')

At least one of the conditions is rvaluated to True!

In [24]:
#Nested if statement
if s1 > 40:
    print('s1 is above 40')
    if s1 > 60: 
        print('s1 is above 60')
        if s1 > 80:
            print('s1 is above 80')
            if s1 > 90:
                print('s1 is above 90')
            else:
                #print('s1 is below 90')
                pass

s1 is above 40
s1 is above 60
s1 is above 80

In [26]:
# easy way to use built in functions, instead of if statement
# if there is a way to avoid loops and if else stuff do it. Use python

names = {'Fred': 'Hello Fred', 'Rama': 'Hello Rama', 'Joe': 'Hello Joe', 'Alice': 'Hello Alie'}

names

In [27]:
names

{'Fred': 'Hello Fred',
 'Rama': 'Hello Rama',
 'Joe': 'Hello Joe',
 'Alice': 'Hello Alie'}

In [28]:
type(names)

dict

In [31]:
print(names['Jen'])

KeyError: 'Jen'

In [32]:
'Joe' in names

True

In [37]:
 print(names['Jen'] if 'Jen' in names else 'I do not not who you are')

I do not not who you are

In [42]:
print(names.get('Jen', "I don't know who you are!"))

I don't know who you are!

In [43]:
# the above two are the same

In [44]:
names.keys()

dict_keys(['Fred', 'Rama', 'Joe', 'Alice'])

In [45]:
names.values()

dict_values(['Hello Fred', 'Hello Rama', 'Hello Joe', 'Hello Alie'])

In [46]:
names.items()

dict_items([('Fred', 'Hello Fred'), ('Rama', 'Hello Rama'), ('Joe', 'Hello Joe'), ('Alice', 'Hello Alie')])

In [49]:
t = tuple(names.items())

In [50]:
t[0]

('Fred', 'Hello Fred')

In [51]:
t[0][1]

'Hello Fred'

In [52]:
('Fred', 'Hello Fred') in t

True

In [54]:
('Joe', 'Hello Joe') in t

True

In [55]:
('Jen', 'Hello Jen') in t

False

In [56]:
lst1 = list(range(21))
lst2 = list(range(20,41))

In [57]:
lst1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [58]:
lst2

[20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [59]:
lst = list(zip(lst1,lst2))
lst

[(0, 20),
 (1, 21),
 (2, 22),
 (3, 23),
 (4, 24),
 (5, 25),
 (6, 26),
 (7, 27),
 (8, 28),
 (9, 29),
 (10, 30),
 (11, 31),
 (12, 32),
 (13, 33),
 (14, 34),
 (15, 35),
 (16, 36),
 (17, 37),
 (18, 38),
 (19, 39),
 (20, 40)]

In [61]:
(2, 22) in lst

True

In [62]:
(19, 39) in lst

True

In [63]:
s = {1,2,3,4,5,6}

In [64]:
2 in s

True