# Jacob Sheehan
## 08/22/2024
### Python - Practive Numbers

# Markdown Symbols
__String__


**String**

_String_

*String*
- My First Python code
- I am new to write code with python

1. Python
2. Java

In [1]:
5 + 5

10

In [2]:
10-5

5

In [3]:
4*3

12

In [4]:
8/4

2.0

In [5]:
5/2

2.5

In [6]:
4 ** 4

256

In [7]:
5 % 2

1

In [8]:
4 * 2+8-4

12

In [9]:
4 * 2+(8-4)

12

In [10]:
4*6/4

6.0

In [11]:
8//3

2

In [12]:
x = 15

In [13]:
x

15

In [14]:
X = 10

In [15]:
X

10

In [16]:
x

15

In [17]:
x= 2.5

In [18]:
x

2.5

In [19]:
type(x)

float

In [20]:
x = 5

In [21]:
type(x)

int

In [22]:
area

NameError: name 'area' is not defined

In [24]:
area = 10.25

In [25]:
type(area)

float

In [26]:
area

10.25

In [27]:
x

5

In [28]:
x

5

In [29]:
area

10.25

In [30]:
X

10

In [31]:
num_hours = 10

In [39]:
# Calculate the pay rate
num_hours = 18
pay_rate = 15.95
total_pay = num_hours * pay_rate

In [33]:
total_pay

NameError: name 'total_pay' is not defined

In [40]:
total_pay

287.09999999999997

In [41]:
print("The total pay= ", total_pay)

The total pay=  287.09999999999997

In [42]:
even = True

In [43]:
type(even)

bool