# Jacob Sheehan
## Week3 09/03/2024
### Python Built in Data Structures - Python Lists [ ]

## List Notes
- Lists are used to store multiple items in a single variable
- Lists are created using square brackets or list() constructor
- Lists itmes are indexed, the first item has index [0]
- lists are ordered
- The list is changeable ; add, delete, and update items

In [1]:
my_lst = [50,30,20.5, 100, 90, 10, 30,50]

In [2]:
my_lst

[50, 30, 20.5, 100, 90, 10, 30, 50]

In [3]:
my_lst

[50, 30, 20.5, 100, 90, 10, 30, 50]

In [4]:
type(my_lst)

list

In [5]:
my_lst[0]

50

In [6]:
my_lst[-1]

50

In [7]:
my_lst[-2]

30

In [8]:
len(my_lst)

8

In [9]:
my_lst = [50, 89, 90, 'John', 'Bob', 'Sherry', True, False, 5.5, 20.5]

In [10]:
my_lst[5]

'Sherry'

In [11]:
len(my_lst)

10

In [12]:
fruits = ['Apple', 'Banana', 'Cherry', 'Kiwi']

In [13]:
fruits[0]

'Apple'

In [14]:
fruits[1]

'Banana'

In [15]:
fruits[2]

'Cherry'

In [16]:
my_lst

[50, 89, 90, 'John', 'Bob', 'Sherry', True, False, 5.5, 20.5]

In [17]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [18]:
#slicing
#[Start:End:Step]
my_lst[1:5]

[89, 90, 'John', 'Bob']

In [19]:
my_lst[:]

[50, 89, 90, 'John', 'Bob', 'Sherry', True, False, 5.5, 20.5]

In [20]:
fruits[-4:]

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [21]:
fruits[-3:-1]

['Banana', 'Cherry']

In [22]:
fruits[-3:-2]

['Banana']

In [23]:
fruits[::-1]

['Kiwi', 'Cherry', 'Banana', 'Apple']

In [24]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [25]:
my_lst[2:7]

[90, 'John', 'Bob', 'Sherry', True]

In [26]:
my_lst[2:7:2]

[90, 'Bob', True]

In [27]:
# add a new element
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [28]:
fruits + ['Orange']

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [29]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [30]:
fruits = fruits + ['Orange']

In [31]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [32]:
# update item in the list
fruits[1] = 'Mango'

In [33]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [34]:
fruits[-1] = 12

In [35]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 12]

In [36]:
# delete an item from a list
del fruits[-1]

In [37]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi']

In [38]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi']

In [39]:
fruits = ['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [40]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [41]:
# double the list
fruits * 2

['Apple',
 'Mango',
 'Cherry',
 'Kiwi',
 'Orange',
 'Apple',
 'Mango',
 'Cherry',
 'Kiwi',
 'Orange']

In [42]:
# Use the built in Function
fruits.append('Banana')

In [43]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange', 'Banana']

In [44]:
fruits.append(13)

In [45]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange', 'Banana', 13]

In [46]:
lst = [12,10,14,15,16]

In [47]:
fruits.extend(lst)

In [48]:
fruits

['Apple',
 'Mango',
 'Cherry',
 'Kiwi',
 'Orange',
 'Banana',
 13,
 12,
 10,
 14,
 15,
 16]

In [49]:
len(fruits)

12

In [50]:
fruits.append([1,2,3])

In [51]:
fruits

['Apple',
 'Mango',
 'Cherry',
 'Kiwi',
 'Orange',
 'Banana',
 13,
 12,
 10,
 14,
 15,
 16,
 [1, 2, 3]]

In [52]:
fruits[-1]

[1, 2, 3]

In [53]:
fruits.pop()

[1, 2, 3]

In [54]:
fruits

['Apple',
 'Mango',
 'Cherry',
 'Kiwi',
 'Orange',
 'Banana',
 13,
 12,
 10,
 14,
 15,
 16]

In [55]:
fruits.pop(1)

'Mango'

In [56]:
fruits

['Apple', 'Cherry', 'Kiwi', 'Orange', 'Banana', 13, 12, 10, 14, 15, 16]

In [57]:
fruits.remove('Kiwi')

In [58]:
fruits

['Apple', 'Cherry', 'Orange', 'Banana', 13, 12, 10, 14, 15, 16]

In [59]:
fruits

['Apple', 'Cherry', 'Orange', 'Banana', 13, 12, 10, 14, 15, 16]

In [60]:
char_lst = ['t','a','m','b','m','n']

In [61]:
char_lst.sort()

In [62]:
char_lst

['a', 'b', 'm', 'm', 'n', 't']

In [63]:
fruits

['Apple', 'Cherry', 'Orange', 'Banana', 13, 12, 10, 14, 15, 16]

In [64]:
fruits[::-1]

[16, 15, 14, 10, 12, 13, 'Banana', 'Orange', 'Cherry', 'Apple']

In [65]:
fruits

['Apple', 'Cherry', 'Orange', 'Banana', 13, 12, 10, 14, 15, 16]

In [66]:
fruits.reverse()

In [67]:
# IN PlACE means that it will change the list

In [68]:
fruits

[16, 15, 14, 10, 12, 13, 'Banana', 'Orange', 'Cherry', 'Apple']

In [69]:
# inset()
fruits.insert(2,'Mango')

In [70]:
fruits

[16, 15, 'Mango', 14, 10, 12, 13, 'Banana', 'Orange', 'Cherry', 'Apple']

In [71]:
fruits = ['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [72]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [73]:
fruits.insert(3,'Mango')

In [74]:
fruits

['Apple', 'Mango', 'Cherry', 'Mango', 'Kiwi', 'Orange']

In [75]:
fruits.remove('Kiwi')

In [76]:
fruits

['Apple', 'Mango', 'Cherry', 'Mango', 'Orange']

In [77]:
# in
fruits

['Apple', 'Mango', 'Cherry', 'Mango', 'Orange']

In [78]:
'Mango' in fruits

True

In [79]:
'Limon' in fruits

False

In [80]:
# concatenating, + 
[4,None,'foo'] + [2,8,'Red', 10.95]

[4, None, 'foo', 2, 8, 'Red', 10.95]

In [81]:
new_lst = [4,None,'foo'] + [2,8,'Red', 10.95]

In [82]:
new_lst

[4, None, 'foo', 2, 8, 'Red', 10.95]

In [83]:
new_lst.extend([1,2,3,4,5])

In [84]:
new_lst

[4, None, 'foo', 2, 8, 'Red', 10.95, 1, 2, 3, 4, 5]

In [85]:
new_lst * 2

[4,
 None,
 'foo',
 2,
 8,
 'Red',
 10.95,
 1,
 2,
 3,
 4,
 5,
 4,
 None,
 'foo',
 2,
 8,
 'Red',
 10.95,
 1,
 2,
 3,
 4,
 5]

In [86]:
fruits

['Apple', 'Mango', 'Cherry', 'Mango', 'Orange']

In [87]:
fruits.sort()

In [88]:
fruits

['Apple', 'Cherry', 'Mango', 'Mango', 'Orange']

In [89]:
fruits.sort(key=len)

In [90]:
fruits

['Apple', 'Mango', 'Mango', 'Cherry', 'Orange']

In [91]:
len('Hello')

5

In [92]:
len(fruits)

5

In [93]:
# range() function, range(start, stop[,step])
range(10)

range(0, 10)

In [94]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
lst = list(range(10,21))
lst

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [96]:
lst = list(range(10,41,1))
lst

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [97]:
lst = list(range(10,41,2))
lst

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [98]:
lst[-1]

40

In [99]:
lst[1:5]

[12, 14, 16, 18]

In [100]:
# Nested list and Access to Nested List
lst1 = list(range(10,31,10))
lst2 = list(range(30,61,10))
lst3 = list(range(60,91,10))

In [101]:
lst1

[10, 20, 30]

In [102]:
lst2

[30, 40, 50, 60]

In [103]:
lst3

[60, 70, 80, 90]

In [104]:
nested_list = [lst1,lst2,lst3]

In [105]:
nested_list

[[10, 20, 30], [30, 40, 50, 60], [60, 70, 80, 90]]

In [106]:
len(nested_list)

3

In [107]:
nested_list[0]

[10, 20, 30]

In [108]:
nested_list[-1]

[60, 70, 80, 90]

In [109]:
nested_list

[[10, 20, 30], [30, 40, 50, 60], [60, 70, 80, 90]]

In [111]:
nested_list[0][1]

20

In [112]:
nested_list[0][1]

20

In [113]:
nested_list[2][-1]

90

In [ ]:
nested_list[1][2,3]

In [ ]:
nested_list[1][2:4]

In [ ]:
lst =['a','b', ['aa','bb', ['ddd', 'eee']], 'f', 'g', [20,30,40] ]
lst

In [ ]:
len(lst)

In [ ]:
lst[1]

In [ ]:
lst[2]

In [ ]:
lst

In [ ]:
len(lst[2])

In [ ]:
lst[2][2][-1]

In [ ]:
lst

In [ ]:
lst[-1]

In [ ]:
lst.append(50)[-1]

In [ ]:
lst[-1].append(50)

In [ ]:
list[-1].append(50)

In [ ]:
lst

In [ ]:
lst[2][-1].insert(0,'ccc')

In [ ]:
lst

In [ ]:
del lst[-1]

In [ ]:
lst

In [ ]:
lst[-1].remove(20)

In [ ]:
lst

In [ ]:
lst[2].pop(0)

In [ ]:
# remove is name and pop is index

In [ ]:
lst

In [ ]:
lst[-1].append(['Red', 'Blue', 'Green'])

In [ ]:
lst

In [ ]:
lst[-1]

In [ ]:
lst[-1][-1]

In [ ]:
lst

In [ ]:
lst.append(list(range(10,41,5)))

In [ ]:
lst

In [ ]:
lst[-2].remove()

In [ ]:
lst

In [ ]:
# zip "pairs" up the elements of a number of list in tuples
lst1 = ['Apple', 'Mango', 'Cherry', 'Mango', 'Orange']
lst2 = [10.5,11.8,12,14,15]

In [ ]:
lst1

In [ ]:
lst2

In [ ]:
zipped_list = zip(lst1,lst2)

In [ ]:
list(zipped_list)

In [ ]:
lst = list(zipped_list)
lst

In [ ]:
lst[0]

In [ ]:
lst

In [ ]:
zipped_list2 = list(zip([1,2,3],[10,20,30,40]))
zipped_list2

In [ ]:
zip([1,2,3],[10,20,30,40])

In [ ]:
print(zip([1,2,3],[10,20,30,40]))

In [ ]:
tuple(zip([1,2,3],[10,20,30,40]))