# Jacob Sheehan
## Week 4 - 09/10/2024
### Python Dictionary - {}, dict()

- Dictionary is a Python collection
- Stores data value in key:value pairs.
- No Duplicates - Cannot have two items with the same key. 
- Changeable - Can change, add or remove items after the dictionary is created.

In [1]:
dict1 = dict()

In [2]:
dict1

{}

In [3]:
type(dict1)

dict

In [4]:
dict1['no'] = 310

In [5]:
dict1

{'no': 310}

In [6]:
dict1['course'] = ['cis200', 'cis240', 'cis310']

In [7]:
dict1

{'no': 310, 'course': ['cis200', 'cis240', 'cis310']}

In [8]:
dict2 = {'k1': 'Value1', 'k2':'Value2', 'k3':'Value3', 'k4':'Value4'}
dict2

{'k1': 'Value1', 'k2': 'Value2', 'k3': 'Value3', 'k4': 'Value4'}

In [9]:
dict2.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [10]:
dict1.keys()

dict_keys(['no', 'course'])

In [11]:
dict1.values()

dict_values([310, ['cis200', 'cis240', 'cis310']])

In [12]:
dict2.values()

dict_values(['Value1', 'Value2', 'Value3', 'Value4'])

In [13]:
dict2.items()

dict_items([('k1', 'Value1'), ('k2', 'Value2'), ('k3', 'Value3'), ('k4', 'Value4')])

In [14]:
list(dict2.items())

[('k1', 'Value1'), ('k2', 'Value2'), ('k3', 'Value3'), ('k4', 'Value4')]

In [15]:
lst = list(dict2.items())
lst

[('k1', 'Value1'), ('k2', 'Value2'), ('k3', 'Value3'), ('k4', 'Value4')]

In [16]:
lst[0]

('k1', 'Value1')

In [17]:
lst[0][0]

'k1'

In [18]:
lst[0][1]

'Value1'

In [19]:
car = {'brand': 'Toyota', 'model':'Prius', 'year':2024}

In [20]:
len(car)

3

In [21]:
car['brand'] = 'GMC'

In [22]:
car

{'brand': 'GMC', 'model': 'Prius', 'year': 2024}

In [23]:
car['seat'] = 8

In [24]:
car

{'brand': 'GMC', 'model': 'Prius', 'year': 2024, 'seat': 8}

In [25]:
cis_dept = {'no':20, 'cis':['cis200','cis240','cis310'], 'crn':(1,2,3), 'ins':{'Ramadan', 'Jon', 'Nick'}}

In [26]:
cis_dept

{'no': 20,
 'cis': ['cis200', 'cis240', 'cis310'],
 'crn': (1, 2, 3),
 'ins': {'Jon', 'Nick', 'Ramadan'}}

In [27]:
cis_dept['no']

20

In [28]:
cis_dept['ins']

{'Jon', 'Nick', 'Ramadan'}

In [29]:
cis_dept.keys()

dict_keys(['no', 'cis', 'crn', 'ins'])

In [30]:
cis_dept.values()

dict_values([20, ['cis200', 'cis240', 'cis310'], (1, 2, 3), {'Jon', 'Ramadan', 'Nick'}])

In [31]:
cis_dept['ins']

{'Jon', 'Nick', 'Ramadan'}

In [32]:
cis_dept['ins'].add('Mat')

In [33]:
cis_dept

{'no': 20,
 'cis': ['cis200', 'cis240', 'cis310'],
 'crn': (1, 2, 3),
 'ins': {'Jon', 'Mat', 'Nick', 'Ramadan'}}

In [34]:
cis_dept['c'] = 'COB'

In [35]:
cis_dept

{'no': 20,
 'cis': ['cis200', 'cis240', 'cis310'],
 'crn': (1, 2, 3),
 'ins': {'Jon', 'Mat', 'Nick', 'Ramadan'},
 'c': 'COB'}

In [36]:
cis_dept['College'] = cis_dept['c']

In [37]:
cis_dept

{'no': 20,
 'cis': ['cis200', 'cis240', 'cis310'],
 'crn': (1, 2, 3),
 'ins': {'Jon', 'Mat', 'Nick', 'Ramadan'},
 'c': 'COB',
 'College': 'COB'}

In [38]:
del cis_dept['c']

In [39]:
cis_dept

{'no': 20,
 'cis': ['cis200', 'cis240', 'cis310'],
 'crn': (1, 2, 3),
 'ins': {'Jon', 'Mat', 'Nick', 'Ramadan'},
 'College': 'COB'}

In [41]:
cis_dept.

SyntaxError: invalid syntax (<ipython-input-41-5deeb88674ed>, line 1)

In [42]:
car

{'brand': 'GMC', 'model': 'Prius', 'year': 2024, 'seat': 8}

In [43]:
car_dict

NameError: name 'car_dict' is not defined

In [44]:
car.popitem()

('seat', 8)

In [45]:
car

{'brand': 'GMC', 'model': 'Prius', 'year': 2024}

In [46]:
car1 = car

In [47]:
car1

{'brand': 'GMC', 'model': 'Prius', 'year': 2024}

In [48]:
car

{'brand': 'GMC', 'model': 'Prius', 'year': 2024}

In [49]:
car['year'] = 2025

In [50]:
car

{'brand': 'GMC', 'model': 'Prius', 'year': 2025}

In [51]:
# rename key
my_dict = {'apple': 1, 'banana': 2, 'orange':3}

In [52]:
my_dict['pear'] = my_dict.pop('banana')

In [53]:
my_dict

{'apple': 1, 'orange': 3, 'pear': 2}

In [54]:
my_dict['mango'] = my_dict['apple']
del my_dict['apple']

In [55]:
my_dict

{'orange': 3, 'pear': 2, 'mango': 1}

In [56]:
# nested dictionaries
d = {'k1': {'k2': {'k3': 55}}, 'k2': {'k1':20}}

In [57]:
d

{'k1': {'k2': {'k3': 55}}, 'k2': {'k1': 20}}

In [58]:
d['k1']

{'k2': {'k3': 55}}

In [59]:
d['k1']['k2']

{'k3': 55}

In [60]:
d['k1']['k2']['k3']

55

In [61]:
d

{'k1': {'k2': {'k3': 55}}, 'k2': {'k1': 20}}

In [62]:
d['k2']['k1']

20

In [63]:
d['k2']['k1'] = 24

In [64]:
d

{'k1': {'k2': {'k3': 55}}, 'k2': {'k1': 24}}

In [68]:
myFamily = {
    'child1': {'name':'Jen', 'DoB':'01/01/2000'},
    'child2': {'name':'Alice', 'DoB':'06/01/2004'},
    'child3': {'name':'Bob', 'DoB':'10/16/2008'},
    'spouse': {'name':'Jon', 'DoB':'12/20/1978'}
}

In [69]:
myFamily['child1']['name']

'Jen'

In [71]:
myFamily['spouse']['DoB']

'12/20/1978'

In [72]:
myFamily['child2'].values()

dict_values(['Alice', '06/01/2004'])

In [73]:
list(myFamily['child2'].values())

['Alice', '06/01/2004']

In [74]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978'}}

In [76]:
myFamily = ['spouse']['address'] = 'Fort Collins'

TypeError: list indices must be integers or slices, not str

In [79]:
# casting between Python collections
ls = [2,3,4,5,{3,3,4}], (10,20,30,40), ['a', 'b','c']

In [80]:
ls

([2, 3, 4, 5, {3, 4}], (10, 20, 30, 40), ['a', 'b', 'c'])

In [81]:
t = tuple(ls)

In [82]:
t

([2, 3, 4, 5, {3, 4}], (10, 20, 30, 40), ['a', 'b', 'c'])

In [83]:
ls = list(t)

In [84]:
ls

[[2, 3, 4, 5, {3, 4}], (10, 20, 30, 40), ['a', 'b', 'c']]

In [85]:
t = (1,2,3,4,5)

In [86]:
s = set(t)
s

{1, 2, 3, 4, 5}

In [87]:
s = {1,2,3,4,5,'a','b','c'}

In [88]:
ls = list(s)

In [89]:
ls

[1, 2, 3, 4, 5, 'a', 'c', 'b']

In [90]:
ls = [2,3,4,5,{3,3,4}], (10,20,30,40), ['a', 'b','c']
ls

([2, 3, 4, 5, {3, 4}], (10, 20, 30, 40), ['a', 'b', 'c'])

In [91]:
s = set(ls)
ls

TypeError: unhashable type: 'list'

In [92]:
#list is changable and set is not so that is why above comand did not work

In [93]:
ls = [2,3,4,5,(3,3,4)], (10,20,30,40), ('a', 'b','c')
ls

([2, 3, 4, 5, (3, 3, 4)], (10, 20, 30, 40), ('a', 'b', 'c'))

In [94]:
t

(1, 2, 3, 4, 5)

In [95]:
ls

([2, 3, 4, 5, (3, 3, 4)], (10, 20, 30, 40), ('a', 'b', 'c'))

In [96]:
s

{1, 2, 3, 4, 5, 'a', 'b', 'c'}

In [97]:
d = dict(ls)

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [98]:
d = dict(t)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [99]:
d = dict(s)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [100]:
color = {0:'blue', 1:'red', 3:'green'}

In [102]:
type(color)

dict

In [103]:
color[0]

'blue'