# Jacob Sheehan
## wk 69/24/2024
### For Loop Python

In [2]:
sc = [90,81,88,89, 79,92,94]
for score in sc:
    print(f'score = {score}')

score = 90
score = 81
score = 88
score = 89
score = 79
score = 92
score = 94

In [3]:
sc = [90,81,88,89, 79,92,94]
for score in sc[::-1]:
    print(f'score = {score}')

score = 94
score = 92
score = 79
score = 89
score = 88
score = 81
score = 90

In [6]:
for score in sc:
    if score % 2 == 0:
        print(f'even score = {score}')
    else:
        print(f'odd score = {score}')

even score = 90
odd score = 81
even score = 88
odd score = 89
odd score = 79
even score = 92
even score = 94

In [7]:
even = []
odd = []

for score in sc:
    if score % 2 == 0:
        even.append(score)
    else:
        odd.append(score)

In [8]:
even

[90, 88, 92, 94]

In [11]:
odd

[81, 89, 79]

In [10]:
od

NameError: name 'od' is not defined

In [12]:
len(sc) == len(odd) + len(even)

True

In [13]:
sum = 0
for n in sc:
    sum = sum + n
    
print(f'The average = {sum / len(sc)}')

The average = 87.57142857142857

In [14]:
# else
sum = 0
for n in sc:
    sum = sum + n
else:
    print(f'The average = {sum / len(sc)}')

The average = 87.57142857142857

In [18]:
for letter in "I am student in cis310":
    print(letter, end='')

I am student in cis310

In [21]:
for letter in "I am student in cis310":
    if letter.isspace():
        print(letter, end=',')

 , , , ,

In [20]:
letter

'0'

In [22]:
for letter in "I am student in cis310":
    if not letter.isspace():
        print(letter, end=',')

I,a,m,s,t,u,d,e,n,t,i,n,c,i,s,3,1,0,

In [24]:
for letter in "I am student in cis310":
    if letter.isspace():
        pass
    else:
        print(letter, end='')

Iamstudentincis310

In [25]:
# tuple
t = (5,6,8,10,5,6)
for n in t:
    print(f'n = {n}')

n = 5
n = 6
n = 8
n = 10
n = 5
n = 6

In [26]:
#set
s = {5,6,8,10,5,6}
for n in s:
    print(f'n = {n}')

n = 8
n = 10
n = 5
n = 6

In [29]:
lst1 = ['red','blue','green']
lst2 = [10,8,6]
lst = list(zip(lst1,lst2))

In [30]:
lst

[('red', 10), ('blue', 8), ('green', 6)]

In [31]:
for item in (zip(lst1,lst2)):
    print(f'{item}')

('red', 10)
('blue', 8)
('green', 6)

In [32]:
for item in lst:
    print(f'{item}')

('red', 10)
('blue', 8)
('green', 6)

In [33]:
# The above two are the same

In [34]:
for item in (zip(lst1,lst2)):
    print(f'{item[0]}')

red
blue
green

In [35]:
for item in (zip(lst1,lst2)):
    print(f'{item[1]}')

10
8
6

In [36]:
for item in (zip(lst1,lst2)):
    print(f'{item[0][0]}')

r
b
g

In [37]:
for item in (zip(lst1,lst2)):
    print(f'{item[1]}')

10
8
6

In [38]:
for (t1,t2) in (zip(lst1,lst2)):
    print(f'{t1}')

red
blue
green

In [39]:
for (t1,t2) in (zip(lst1,lst2)):
    print(f'{t2}')

10
8
6

In [40]:
for (t1,t2) in lst:
    print(f'{type(t2)}')

<class 'int'>
<class 'int'>
<class 'int'>

In [42]:
for item in lst:
    print(f'{item}')

('red', 10)
('blue', 8)
('green', 6)

In [43]:
# dictionary
d = {'brand':'ford', 'model':'Mustang', 'year':'1964'}

In [44]:
d

{'brand': 'ford', 'model': 'Mustang', 'year': '1964'}

In [45]:
for key in d.keys():
    print(key)

brand
model
year

In [46]:
for v in d.values():
    print(v)

ford
Mustang
1964

In [47]:
for pair in d.items():
    print(pair)

('brand', 'ford')
('model', 'Mustang')
('year', '1964')

In [49]:
for key in d:
    print(key)

brand
model
year

In [50]:
for key in d():
    print(d[key])

TypeError: 'dict' object is not callable

In [51]:
for t in d:
    print(d[t])

ford
Mustang
1964

In [53]:
for t in d.items():
    print(t[0])

brand
model
year

In [54]:
for t in d.items():
    print(t[1])

ford
Mustang
1964

In [55]:
for k,v in d.items():
    print(k, ' ', v)

brand   ford
model   Mustang
year   1964

In [57]:
#break and continue
fruits = ['Apple', 'Banana', 'Cherry', 'Orange']

for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry
Orange

In [58]:
for fruit in fruits:
    print(fruit[::-1])

elppA
ananaB
yrrehC
egnarO

In [60]:
for fruit in fruits:
    print(fruit)
    if fruit == 'Banana':
        break

Apple
Banana

In [61]:
# continue keyword || continue means you want to skip something

for fruit in fruits:
    if fruit == 'Banana':
        continue
    print(fruit)

Apple
Cherry
Orange

In [62]:
for fruit in fruits:
    if fruit == 'Banana':
        pass
    print(fruit)

Apple
Banana
Cherry
Orange

In [63]:
for fruit in fruits:
    if fruit == 'Banana':
        pass
    else:
        print(fruit)

Apple
Cherry
Orange

In [64]:
# range()
for num in range(6):
    print(num)

0
1
2
3
4
5

In [65]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [66]:
for num in range(5,55,5):
    print(num)

5
10
15
20
25
30
35
40
45
50

In [68]:
#How to loop with index in python
for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry
Orange

In [69]:
range(0,4)

range(0, 4)

In [70]:
range(4)

range(0, 4)

In [77]:
for i in range( len(fruits) ):
    print('At Index', i, 'the value is', fruits[i])

At Index 0 the value is Apple
At Index 1 the value is Banana
At Index 2 the value is Cherry
At Index 3 the value is Orange

In [79]:
#pythons built in enumerate() function
for idx, n in enumerate(fruits):
    print(idx, n)

0 Apple
1 Banana
2 Cherry
3 Orange

In [80]:
for idx, n in enumerate(fruits, start=1):
    print(idx, n)

1 Apple
2 Banana
3 Cherry
4 Orange

In [6]:
# what we should do if we need to loop over multiple collectionss?
# Without nesed loop
colors = ['red', 'green', 'blue', 'purple']
ratios = [0.2,0.3,0.4,0.1]
for index, value in enumerate(colors):
    print(f'ratio: {ratios[index]*100}% color: {value}')

ratio: 20.0% color: red
ratio: 30.0% color: green
ratio: 40.0% color: blue
ratio: 10.0% color: purple

In [2]:
# using range()
range(len(colors))

range(0, 4)

In [4]:
range(len(colors)

SyntaxError: unexpected EOF while parsing (<ipython-input-4-db1eb30e23a0>, line 1)

In [8]:
for burger in range(len(colors)):
      print(f'ratio: {ratios[index]*100}% color: {value}')

ratio: 10.0% color: purple
ratio: 10.0% color: purple
ratio: 10.0% color: purple
ratio: 10.0% color: purple

In [9]:
print(burger)

3

In [12]:
list(zip(ratios, colors))

[(0.2, 'red'), (0.3, 'green'), (0.4, 'blue'), (0.1, 'purple')]

In [14]:
for ratio,color in zip(ratios,colors):
    print(f'ratio: {ratios[index]*100}% color: {value}')

ratio: 10.0% color: purple
ratio: 10.0% color: purple
ratio: 10.0% color: purple
ratio: 10.0% color: purple